/* 正常显示时的样式 */
.privacy-container {
  height: 100%;
  width: 70%;
  margin: 0 auto;
  overflow: auto;
}

.privacy-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  margin: 10px;
}

/* 打印时的样式 */
@media print {
  .privacy-container {
    height: auto !important;
    overflow: visible !important;
    display: block !important;
  }
  
  .privacy-content {
    overflow: visible !important;
    height: auto !important;
    page-break-inside: avoid;
  }
  
  /* 隐藏不需要打印的元素 */
  .ant-float-button,
  .ant-btn {
    display: none !important;
  }
} 